<div id="sidebar">
  <h2>Top Rated Books</h2>
  <ul id="books">
    <% Book.all.each do |book| %>
      <li><%= link_to image_tag(book.thumb_image_path, :border => 0, :title => book.title, :alt => book.title, :width => "50"), book %></li>
    <% end %>
  </ul>

  <h2>Last Added Books</h2>
  <ul id="books">
    <% Book.all.each do |book| %>
      <li><%= link_to image_tag(book.thumb_image_path, :border => 0, :title => book.title, :alt => book.title, :width => "50"), book %></li>
    <% end %>
  </ul>
</div>

<%= image_tag("banner.jpg") %>