html {
  background: #859A89 url('/assets/noise.png');
}
body {
  margin: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#top {
  position: relative;
  padding: 0 0 3px 0;
  color: #536857;
}

#logo {
  float: left;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -2px;
}

#user, #login {
	background: #352D25 url(/assets/noise.png);
    box-shadow: 2px 2px 2px #2C4F4F;
    -moz-box-shadow: 2px 2px 2px #2C4F4F;
    -webkit-box-shadow: 2px 2px 2px #2C4F4F;
	padding: 5px;
}

#user,
#login {
  position: absolute;
  right: 0;
}
#user a, #login a {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #CEAE91;
}

.user_picture, .user_infos {
	float:left;
}

.user_infos {
	margin-left:5px;
}

#user a:hover, #login a:hover {
  color: #9B7B2F;
}
#user img {
  vertical-align: top;
  border: 1px solid #FFF;
}
#login img {
  height: 20px;
  border: 1px solid #FFF;
}


ul#menu {
  float: left;
  margin: 0;
  margin-top: 60px;
  margin-left: 40px;
  padding: 0;
}
ul#menu li {
  display: inline;
  list-style: none;
}
ul#menu li a {
  margin-right: 20px;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #536857;
/*  color: #2F2428;*/
  text-shadow: 0 1px 1px #90B497; 
  letter-spacing: 3px;
}
ul#menu li a:hover,
ul#menu li a.active {
  color: #FFF;
}

#content {
  clear: both;
  padding: 20px;
  font-size: 14px;
  color: #585655;
  background: #FFF;
  box-shadow: 2px 2px 15px #2C4F4F;
  -moz-box-shadow: 2px 2px 15px #2C4F4F;
  -webkit-box-shadow: 2px 2px 15px #2C4F4F;
}
#content h1 {
  display: inline;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 22px;
}
#content h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}


ul#books {
  margin: 0;
  padding: 0;
}
ul#books li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#books li a img {
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 2px 0 10px #222;
  -moz-box-shadow: 2px 0 10px #222;
  -webkit-box-shadow: 2px 0 10px #222;
}


#sidebar {
  float: right;
  padding: 20px;
  padding-top: 10px;
  width: 280px;
  font-size: 12px;
}

#sidebar p {
margin-bottom: 100px;
}

#sidebar img {
  max-width: 200px;
  _width: 200px;
}

#bottom {
  padding: 8px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #585655;
  line-height: 19px;
}

.miolo {
	margin-top:0;
	margin: 5px;
}

.x-window-header, .x-window-default, .x-toolbar-footer, .x-window-body-default {
  background: #859A89;
  border-color: #859A89;
}
 
.x-window-header-text {
  font: bold 14px Consolas, Arial, san-serif;
  color: #fff;
}

.shelf, .shelfInter {
/*	background: url('/assets/wooden_shelf.png') no-repeat center top;*/
	background: #352D25 url(/assets/noise.png);
	border:0;
}

.shelfInter {
	margin: 0;
	height: 140px;
	width: 600px;
	border: 0;
	padding: 5px;
}

.shelfBorderTop, .shelfBorderBottom {
	height:15px;
	color:red;
	background: #42382E url(/assets/noise.png);
	padding:0;
	border-top: 1px solid #C1A388;
	border-bottom: 1px solid black;
}

.shelfBorderTop {
/*	background: #332B24 url(/assets/noise.png);*/
border: 0;
}

.sheltoolbar {
	/*background: url('/assets/wood_texture.png');*/
	background: #352D25 url(/assets/noise.png);
	color: white;
	border:0;
}