html {
  background: #86AFAF url('/assets/bg.gif') no-repeat center top;
}
body {
  margin: 0 auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

img {
  border: none;
}
ul {
  padding: 0;
  padding-left: 15px;
}
ul li {
  margin-bottom: 10px;
}
ul.listing {
  margin: 0;
  padding: 0;
}
ul.listing li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0;
}
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

form label {
  display: block;
  text-transform: uppercase;
}
form select {
  padding: 5px 10px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  background: #FFF;
  border: 1px solid #C6C6C6;
  -moz-border-radius: 6px;
}
form input[type='text'] {
  padding: 5px 10px;
  height: 18px;
  font-weight: bold;
  line-height: 18px;
  background: #FFF;
  border: 1px solid #C6C6C6;
  -moz-border-radius: 6px;
}

#top {
  position: relative;
  padding: 10px 0 3px 0;
  color: #2F2428;
}

#logo {
  float: left;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -2px;
}

#user,
#login {
  position: absolute;
  right: 0;
}
#user a, #login a {
  padding: 3px 8px;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  background: #2F2428;
  box-shadow: 2px 2px 2px #2C4F4F;
  -moz-box-shadow: 2px 2px 2px #2C4F4F;
  -webkit-box-shadow: 2px 2px 2px #2C4F4F;
}
#user a:hover {
  color: #F00;
}
#user img {
  margin-bottom: -4px;
  margin-left: -6px;
  border: 1px solid #FFF;
}
#login img {
  height: 20px;
  border: 1px solid #FFF;
}

ul#menu {
  float: left;
  margin: 0;
  margin-top: 60px;
  margin-left: 40px;
  padding: 0;
}
ul#menu li {
  display: inline;
  list-style: none;
}
ul#menu li a {
  margin-right: 20px;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #2F2428;
  letter-spacing: 3px;
}
ul#menu li a:hover,
ul#menu li a.active {
  color: #FFF;
}

#content {
  clear: both;
  padding: 20px;
  font-size: 14px;
  color: #585655;
  background: #FFF;
  box-shadow: 2px 2px 15px #2C4F4F;
  -moz-box-shadow: 2px 2px 15px #2C4F4F;
  -webkit-box-shadow: 2px 2px 15px #2C4F4F;
}
#content h1 {
  display: inline;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 22px;
}
#content h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}

ul#books {
  margin: 0;
  padding: 0;
}
ul#books li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#books li a img {
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 2px 0 10px #222;
  -moz-box-shadow: 2px 0 10px #222;
  -webkit-box-shadow: 2px 0 10px #222;
}

#sidebar {
  float: right;
  padding: 20px;
  padding-top: 10px;
  width: 280px;
  font-size: 12px;
}

#sidebar p {
margin-bottom: 100px;
}

#sidebar img {
  max-width: 200px;
  _width: 200px;
}

#bottom {
  padding: 8px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #585655;
  line-height: 19px;
}

.white { color: #FFF; }
a.button {
  padding: 3px 10px;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  background: #2F2428;
}
a.button:hover {
  color: #F00;
}


.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.miolo {
	margin: 10px;
}

.x-window-header, .x-window-default, .x-toolbar-footer, .x-window-body-default {
  background: #86AFAF;
  border-color: #86AFAF;
	
}
 
.x-window-header-text {
  font: bold 14px Consolas, Arial, san-serif;
  color: #eee;
}