<!DOCTYPE html>
<html>
<head>
  <title>Cordel</title>
  <%= stylesheet_link_tag    "application" %>

	<link href="http://cdn.sencha.io/ext-4.0.7-gpl/resources/css/ext-all-gray.css" media="screen" rel="stylesheet" type="text/css">

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
